<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FastLaneExmaple.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>931186CD23FBCE4800D6F0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931186E323FBCE4A00D6F0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>931186EE23FBCE4A00D6F0CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
